
tornado==6.0.4
tqdm==4.48.2
traitlets==5.0.4
transforms3d==0.3.1
twine==3.2.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.0.31
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zarr==2.4.0
